<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form method ="get" action="search"class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
      <!--<input type="text" id="myInput"type="search" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name",name="query"id="query">-->
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       <a href="Download" download>Click Here To Download The File</a>
    </form>
  </div>
</nav>
<h2>Sphurti WebApp</h2>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <tr>  
        <th class="th-sm">Company id</th>  
        <th class="th-sm">Company_Name</th>    
        <th class="th-sm">Website</th>  
        <th class="th-sm">Employee_Range</th>  
        <th class="th-sm">Industry</th>
        <th class="th-sm">Address_1</th>
        <th class="th-sm">Address_2</th>
        <th class="th-sm">City</th>
        <th class="th-sm">Zip_Code</th>
        <th class="th-sm">Country</th>
        <th class="th-sm">First_Name</th>
        <th class="th-sm">Last_Name</th>
        <th class="th-sm">Job_Title</th>
        <th class="th-sm">LinkedIn_URL</th>
        <th class="th-sm">Public_Profile</th>
        <th class="th-sm">Email_Id</th>
        <th class="th-sm">Contact_Num</th>
        <th class="th-sm">Job_Url</th>
        <th class="th-sm">Job_Opening</th>
        <th class="th-sm">Actions</th>  
    </tr>  
    </thead>  
    <tbody>
      
{% for Data in Data %}  
    <tr>  
        <td>{{ Data.cid }}</td>  
        <td>{{ Data.Company_Name }}</td>  
        <td>{{ Data.Website }}</td>  
        <td>{{ Data.Employee_Range }}</td>
        <td>{{ Data.Industry }}</td>
        <td>{{ Data.Address_1 }}</td>
        <td>{{ Data.Address_2 }}</td>
        <td>{{ Data.City }}</td>
        <td>{{ Data.Zip_Code }}</td>
        <td>{{ Data.Country }}</td>
        <td>{{ Data.First_Name }}</td>
        <td>{{ Data.Last_Name }}</td>
        <td>{{ Data.Job_Title }}</td>
        <td>{{ Data.LinkedIn_URL }}</td>
        <td>{{ Data.Public_Profile }}</td>
        <td>{{ Data.Email_Id }}</td>
        <td>{{ Data.Contact_Num }}</td>
        <td>{{ Data.Job_Url }}</td>
        <td>{{ Data.Job_Opening }}</td>
        <!--<td>  
            <a href="/edit/{{Data.id}}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ Data.id }}">Delete</a>  
        </td>-->  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/company" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  
